<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Contact Me</title>
</head>

<body>

    <!-- Navbar -->

    <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'contact' %}">Contact</a>
        <a href="{% url 'resume' %}">Resume</a>
    </nav>

    <hr>

    <!-- Contact Form -->

    <h1>Contact Me</h1>

    <form method="POST">

        {% csrf_token %}

        <label>Name:</label>
        <br>

        <input type="text" name="name" required>

        <br><br>


        <label>Email:</label>
        <br>

        <input type="email" name="email" required>

        <br><br>


        <label>Subject:</label>
        <br>

        <input type="text" name="subject" required>

        <br><br>


        <label>Message:</label>
        <br>

        <textarea name="message" rows="5" required></textarea>

        <br><br>


        <label>Contact Number:</label>
        <br>

        <input type="text" name="contact">

        <br><br>


        <button type="submit">
            Send Message
        </button>

    </form>

</body>

</html>